<footer class="bg-black text-white p-4 text-center">
    <h2>Let's Connect!</h2>
    <p>Follow us on social media:</p>
    <div>
        <a href="https://www.facebook.com/TheMundoTravel" class="text-white hover:underline">Facebook</a> |
        <a href="https://www.instagram.com/TheMundoTravel" class="text-white hover:underline">Instagram</a> |
        <a href="https://www.twitter.com/TheMundoTravel" class="text-white hover:underline">Twitter</a>
    </div>
    <p>&copy; 2025 TheMundoTravel. All rights reserved.</p>
</footer> 